* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: block;
    height: 763px;
    background-image: url(/Site_Portfolio/imagini/imagini_background/imgBakgr2.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: scroll;
    background-size:  cover;
    /* position: relative; */
    /* overflow: auto; */
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    z-index: 110;
  }


.navdiv{
    background-color: rgb(0, 54, 49);
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    position: relative;
    z-index: 110;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
  }
  
  
  .navdiv a{
    padding: 20px;
    background-color: aquamarine;
    color: rgb(251, 253, 255);
    text-decoration: none;
    justify-content: center;
  }
  

.modal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-image: url(/Site_Portfolio/imagini/imagini_background/imgBakgr3.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    z-index: 100;
    /* overflow: auto; */
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.templateContainer{
    height: 763px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    justify-content: space-between;
    
    
    margin: auto;
    
    
}

.template {
    /* flex-grow: 1; */
    /* background-color: aquamarine; */
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
    cursor: pointer;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    justify-content: space-around;
    
    
    margin: auto;
    transition: all 0.5s
    /* position: relative; */
    /* top: 200px; */
}

#btn1{
    background: url(/Site_Portfolio/gallery/images/pic7.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
}
#btn2{
    background: url(/Site_Portfolio/gallery/imagini_galerie1/virgo3.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
}
#btn3{
    background: url(/Site_Portfolio/gallery/imagini_galerie2/arcana_cover.jpg);
    /* background-image: url(https://lh3.googleusercontent.com/pw/AM-JKLUiy0tW3j7SL9NHgOXaLiLhlj9Qw9j8V-7ZFx2ughbG2KsfO87R-RW5UpdO5yggCvT_bqLr4kYtBKTKQXGpWo_ytSZqhV14eWwpDu-LtBE4FLvCVZF0JEvowkAGxdEp9RGpFPSZM0FwWdtiwzH5Iofc=w716-h954-no?authuser=0); */
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
}

#btn4{
    background: url(/Site_Portfolio/gallery/imagini_galerie3/demon2.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
}

#btn1:hover{
    
    flex-grow: 2;
    transition: all 0.5s;
}
#btn2:hover{
    flex-grow: 2;
    
    transition: all 0.5s;
}
#btn3:hover{
    flex-grow: 2;
    
    transition: all 0.5s;
}
#btn4:hover{
    flex-grow: 2;
    
    transition: all 0.5s;
}
.inside{
font-size: 20px;
color: rgb(216, 250, 242);
}


/* .nothing {
    height: 500px;
} */

.slider-frame {
    /* width: 100%; */
    height: 680px;
    padding: 10%;
    overflow: hidden;
    position: relative;
}
/* .slider-frame>div {
    position: relative;
    
    /* overflow: auto; 
} */

.imgs-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    height: 400px;
    position: absolute;
    left: 100%;
    /* overflow: auto; */
    transition: all .5s ease-out;
}

img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    transform: scale(1);
    transition: all .5s linear;
}

img.active {
    opacity: 1;
    transform: scale(1.25);
}

.bullets {
   margin: 0 auto;
    /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 200;
  width: 600px;
  height: 10px;
  flex-direction: row;
  /* right: 20px;
  top: 50px; */
  background-color: rgba(0, 255, 255, 0);
  border: 5px solid rgba(0, 251, 255, 0.537);
  border-image: 
    linear-gradient(
      to left, 
      rgba(255, 0, 0, 0),
      rgb(0, 255, 195), 
      rgba(0, 0, 0, 0)
      
    )100% 1; 
  
}

.bullets>button {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgb(0, 242, 255);
    border: 5px solid rgb(0, 242, 255);
    border-radius: 50%;
    transform: scale(1);
    cursor: pointer;
    transition: all .25s;
}

.bullets>button.active, .bullets>button:hover, .bullets>button:focus {
    background-color: rgb(1, 69, 69);
    width: 30px;
    height: 30px;
    transform: rotate(135deg);
    border-radius: 5%;
    transition: all 0.5s;
}

.closeSlide{
    display: none;
    width: 20px;
    height: 20px;
    color: white;
    background-color: rgba(0, 255, 217, 0.816);
    border: 3px solid white;
    position: fixed;
    top: 60px;
    right: 40px;
    z-index: 200;
}

.apear{
    display: block;
}